:root{
    --cubesize:54px;
    --translate:calc(var(--cubesize)/2 - 1px);
    --shapesize:36px;
    --marginborder:5px;
    --cellsize:80px;
    /*--cubesize:8vh;
    --translate:calc(var(--cubesize)/2 - 0.4px);
    --shapesize:5.4vh;
    --marginborder:5px;
    --cellsize:12vh;*/
    --bor:calc(var(--shapesize) - 3px);
    --movx1:calc(var(--cubesize)/4 + var(--marginborder));
    --movy1:calc(var(--cubesize)/4 + var(--marginborder));
    --movx2:calc(var(--cubesize)/4 + var(--marginborder) + var(--cellsize) + var(--marginborder));
    --movy2:calc(var(--cubesize)/4 + var(--marginborder));
    --movx3:calc(var(--cubesize)/4 + var(--marginborder) + 2*(var(--cellsize) + var(--marginborder)));
    --movy3:calc(var(--cubesize)/4 + var(--marginborder));
    --movx4:calc(var(--cubesize)/4 + var(--marginborder) + 3*(var(--cellsize) + var(--marginborder)));
    --movy4:calc(var(--cubesize)/4 + var(--marginborder));
    --movx5:calc(var(--cubesize)/4 + var(--marginborder) + 4*(var(--cellsize) + var(--marginborder)));
    --movy5:calc(var(--cubesize)/4 + var(--marginborder));
    --movx6:calc(var(--cubesize)/4 + var(--marginborder) + 5*(var(--cellsize) + var(--marginborder)));
    --movy6:calc(var(--cubesize)/4 + var(--marginborder));
    --movx7:calc(var(--cubesize)/4 + var(--marginborder));
    --movy7:calc(var(--cubesize)/4 + var(--marginborder) + 5*(var(--cellsize) + var(--marginborder)));
    --movx8:calc(var(--cubesize)/4 + var(--marginborder) + var(--cellsize) + var(--marginborder));
    --movy8:calc(var(--cubesize)/4 + var(--marginborder) + 5*(var(--cellsize) + var(--marginborder)));
    --movx9:calc(var(--cubesize)/4 + var(--marginborder) + 2*(var(--cellsize) + var(--marginborder)));
    --movy9:calc(var(--cubesize)/4 + var(--marginborder) + 5*(var(--cellsize) + var(--marginborder)));
    --movx10:calc(var(--cubesize)/4 + var(--marginborder) + 3*(var(--cellsize) + var(--marginborder)));
    --movy10:calc(var(--cubesize)/4 + var(--marginborder) + 5*(var(--cellsize) + var(--marginborder)));
    --movx11:calc(var(--cubesize)/4 + var(--marginborder) + 4*(var(--cellsize) + var(--marginborder)));
    --movy11:calc(var(--cubesize)/4 + var(--marginborder) + 5*(var(--cellsize) + var(--marginborder)));
    --movx12:calc(var(--cubesize)/4 + var(--marginborder) + 5*(var(--cellsize) + var(--marginborder)));
    --movy12:calc(var(--cubesize)/4 + var(--marginborder) + 5*(var(--cellsize) + var(--marginborder)));
    --brd:calc(var(--cubesize)/18);
}


/*@media only screen and (max-width: 600px) {*/
@media (orientation: portrait) {
    :root{
        --cubesize:10vw;
        --translate:calc(var(--cubesize)/2 - 1px);
        --shapesize:6.7vw;
        --marginborder:5px;
        --cellsize:14.8vw;
        --bor:calc(var(--shapesize) - 3px);
        --movx1:calc(var(--cubesize)/4 + var(--marginborder));
        --movy1:calc(var(--cubesize)/4 + var(--marginborder));
        --movx2:calc(var(--cubesize)/4 + var(--marginborder) + var(--cellsize) + var(--marginborder));
        --movy2:calc(var(--cubesize)/4 + var(--marginborder));
        --movx3:calc(var(--cubesize)/4 + var(--marginborder) + 2*(var(--cellsize) + var(--marginborder)));
        --movy3:calc(var(--cubesize)/4 + var(--marginborder));
        --movx4:calc(var(--cubesize)/4 + var(--marginborder) + 3*(var(--cellsize) + var(--marginborder)));
        --movy4:calc(var(--cubesize)/4 + var(--marginborder));
        --movx5:calc(var(--cubesize)/4 + var(--marginborder) + 4*(var(--cellsize) + var(--marginborder)));
        --movy5:calc(var(--cubesize)/4 + var(--marginborder));
        --movx6:calc(var(--cubesize)/4 + var(--marginborder) + 5*(var(--cellsize) + var(--marginborder)));
        --movy6:calc(var(--cubesize)/4 + var(--marginborder));
        --movx7:calc(var(--cubesize)/4 + var(--marginborder));
        --movy7:calc(var(--cubesize)/4 + var(--marginborder) + 5*(var(--cellsize) + var(--marginborder)));
        --movx8:calc(var(--cubesize)/4 + var(--marginborder) + var(--cellsize) + var(--marginborder));
        --movy8:calc(var(--cubesize)/4 + var(--marginborder) + 5*(var(--cellsize) + var(--marginborder)));
        --movx9:calc(var(--cubesize)/4 + var(--marginborder) + 2*(var(--cellsize) + var(--marginborder)));
        --movy9:calc(var(--cubesize)/4 + var(--marginborder) + 5*(var(--cellsize) + var(--marginborder)));
        --movx10:calc(var(--cubesize)/4 + var(--marginborder) + 3*(var(--cellsize) + var(--marginborder)));
        --movy10:calc(var(--cubesize)/4 + var(--marginborder) + 5*(var(--cellsize) + var(--marginborder)));
        --movx11:calc(var(--cubesize)/4 + var(--marginborder) + 4*(var(--cellsize) + var(--marginborder)));
        --movy11:calc(var(--cubesize)/4 + var(--marginborder) + 5*(var(--cellsize) + var(--marginborder)));
        --movx12:calc(var(--cubesize)/4 + var(--marginborder) + 5*(var(--cellsize) + var(--marginborder)));
        --movy12:calc(var(--cubesize)/4 + var(--marginborder) + 5*(var(--cellsize) + var(--marginborder)));
        --brd:2px;
    }
}

h1 {
    font-family: Arial;
    color: rgb(69, 123, 157);
}

h2 {
    font-family: Arial;
    color: rgb(69, 123, 157);
}

body {
    font-family: Arial;
    text-align: center;
    margin: var(--marginborder);
    background-color: rgb(255, 248, 227);
    /*width: auto;*/
}

#home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#globalmenu {
    display: flex;
    flex-direction: column;
    width: 95%;
    height: fit-content;
    max-width: 500px;
    padding: 10px;
    border-radius: 8px;
    margin-bottom:10px;
    background-color: rgb(159, 197, 218);
    color:rgb(25, 111, 164);
    /*box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);*/
}

.menutitle {
    text-align: center;
    height: 80px;
    width: 130px;
    font-weight: bold;
    font-size: 18px;
    background-color: white;
    color:rgb(69, 123, 157);
    border-radius: 6px;
    padding: 4px;
    border: none;
    box-shadow: 0px 3px 4px rgba(0,0,0,0.4);
}

.menutitle:active {
    color: rgb(87, 156, 198);
    box-shadow: none;
}

.menubox {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top:15px;
    margin-bottom:10px;
    margin-left:4px;
}

.desc {
    width: 65%;
    text-align: left;
    margin-left:10px;
    color:white;

}

#flag {
    width : 9px;
    height : 9px;
    background-color: rgb(255, 0, 0);
    border-radius:2px;
    position: absolute;
    transform: translate3d(4px,-52px,0);
}

#flagreal {
    width : 10px;
    height : 10px;
    background-color: rgb(255, 0, 0);
    border-radius:3px;
    position: absolute;
    transform: translate3d(4px,-52px,0);
}

#botsubmenu2 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#botsubmenu3 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 16px;
    line-height: 25px;
    margin-right: 60px;
}

#okbot {
    /*font-size: 16px;*/
    background-color: rgb(69, 123, 157);
    border: none;
    width: 50px;
    height: 40px;
    font-size: 16px;
    border-radius: 8px;
    color: white;
    font-weight: bold;
    box-shadow: 0px 3px 4px rgba(0,0,0,0.4);
    margin-top:15px;
}

#okbot:active {
    background-color: rgb(87, 156, 198);
    box-shadow: none;
}

#newdiff{
    background-color: rgb(69, 123, 157);
    border: none;
    width: 200px;
    height: 40px;
    font-size: 16px;
    border-radius: 8px;
    color: white;
    font-weight: bold;
    box-shadow: 0px 3px 4px rgba(0,0,0,0.4);
    margin-top:15px;
}

#newdiff:active {
    background-color: rgb(87, 156, 198);
    box-shadow: none;
}


#diffinprogress{
    background-color: rgb(69, 123, 157);
    border: none;
    width: 200px;
    height: 40px;
    font-size: 16px;
    border-radius: 8px;
    color: white;
    font-weight: bold;
    box-shadow: 0px 3px 4px rgba(0,0,0,0.4);
    margin-top:15px;
}

#diffinprogress:active {
    background-color: rgb(87, 156, 198);
    box-shadow: none;
}

#onlinesubmenu {
    display: flex;
    width: 80%;
    flex-direction: column;
    text-align: center;
    height: 200px;
    align-items: center;
    justify-content: center;
}

#onlinediffsubmenu {
    display: flex;
    width: 80%;
    flex-direction: column;
    height: 200px;
    align-items: center;
    justify-content: center;
}

#form{
    height: 20px;
    margin-bottom:5px;
    margin-top:10px;
}

#pseudoInput{
    width: 130px;
}

#welcome{
    height: 20px;
    margin-bottom:5px;
    margin-top:10px;
}

#sauvpseudo {
    /*font-size: 16px;*/
    background-color: rgb(69, 123, 157);
    border: none;
    width: 110px;
    height: 30px;
    font-size: 16px;
    border-radius: 8px;
    color: white;
    font-weight: bold;
    box-shadow: 0px 3px 4px rgba(0,0,0,0.4);
}

#sauvpseudo:active {
    background-color: rgb(87, 156, 198);
    box-shadow: none;
}

#joueurs{
    height: 200px;
    width: 80%;
    overflow-y: auto;
    padding: 10px;
    border-radius: 6px;
    font-size: 14px;
    font-weight: normal;
    border: 1px solid gray;
}

#def{
    height: 200px;
    width: 80%;
    overflow-y: auto;
    padding: 10px;
    border-radius: 6px;
    font-size: 14px;
    font-weight: normal;
    border: 1px solid gray;
}


.joueur{
    padding: 4px;
    border-radius: 3px;
    margin-bottom: 6px;
    box-shadow: 0px 3px 4px rgba(0,0,0,0.4);
}

.joueur:active{
    box-shadow: none;
}

.parties{
    padding: 4px;
    border-radius: 3px;
    margin-bottom: 6px;
    box-shadow: 0px 3px 4px rgba(0,0,0,0.4);
}

.parties:active{
    box-shadow: none;
}

#cancel {
    /*font-size: 16px;*/
    background-color: rgb(69, 123, 157);
    border: none;
    width: 100px;
    height: 30px;
    font-size: 16px;
    border-radius: 8px;
    color: white;
    font-weight: bold;
    box-shadow: 0px 3px 4px rgba(0,0,0,0.4);
    margin-top:15px;
}

#cancel:active {
    background-color: rgb(87, 156, 198);
    box-shadow: none;
}

#accept {
    /*font-size: 16px;*/
    background-color: rgb(69, 123, 157);
    border: none;
    width: 100px;
    height: 30px;
    font-size: 16px;
    border-radius: 8px;
    color: white;
    font-weight: bold;
    box-shadow: 0px 3px 4px rgba(0,0,0,0.4);
    margin-top:15px;
}

#accept:active {
    background-color: rgb(87, 156, 198);
    box-shadow: none;
}

#deny {
    /*font-size: 16px;*/
    background-color: rgb(69, 123, 157);
    border: none;
    width: 100px;
    height: 30px;
    font-size: 16px;
    border-radius: 8px;
    color: white;
    font-weight: bold;
    box-shadow: 0px 3px 4px rgba(0,0,0,0.4);
    margin-top:15px;
}

#deny:active {
    background-color: rgb(87, 156, 198);
    box-shadow: none;
}


#manualsubmenu2 {
    display: flex;
    justify-content: center;
}

#okman {
    /*font-size: 16px;*/
    background-color: rgb(69, 123, 157);
    border: none;
    width: 50px;
    height: 40px;
    font-size: 16px;
    border-radius: 8px;
    color: white;
    font-weight: bold;
    box-shadow: 0px 3px 4px rgba(0,0,0,0.4);
}

#okman:active {
    background-color: rgb(87, 156, 198);
    box-shadow: none;
}

#game {
    display: none;
}

#game-container {
    display: flex;
    width: auto;
    flex-direction: row; /* Disposition en ligne : damier à gauche, bouton à droite */
    align-items: center;
    justify-content: center;
}

#frame {
    width: auto;
}

#adv0{
    width: calc(7*var(--marginborder) + 6*var(--cellsize));
    position : absolute;
    font-weight: bold;
    transform: translate(0px, -32px);
}

#adv{
    width: fit-content;
    padding: 3px 6px;
    position : absolute;
    right:0px;
    border-radius: 8px;

    background-color: rgb(169, 200, 217);
}

#game-board {
    background-color: rgb(169, 200, 217);
    width: calc(7*var(--marginborder) + 6*var(--cellsize));
    height: calc(7*var(--marginborder) + 6*var(--cellsize));
    display: grid;
    grid-template-columns: repeat(6, var(--cellsize));
    grid-template-rows: repeat(6, var(--cellsize));
    gap: var(--marginborder);
    border-radius: 4px;
}

.grid {
    background-color: rgb(140, 174, 200);
    width: var(--cellsize);
    height: var(--cellsize);
    display: flex;
    margin: var(--marginborder);
    border-radius: 2px;
}

#panels {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 200px;
}

#control-panel {
    /*margin-left: 20px;
    margin-right: 20px;*/
    margin-top: 60px;
    margin-bottom: 60px;
    width: 55%;
}

#valider {
    /*font-size: 16px;*/
    background-color: rgb(235, 126, 0);
    border: none;
    display: flex;
    flex-direction: row;
    width: 110px;
    height: 50px;
    align-items: center;
    font-size: 16px;
    border-radius: 7px;
    font-weight: bold;
    color: white;
    box-shadow: 0px 3px 4px rgba(0,0,0,0.4);
}

#valider:active {
    background-color: rgb(255, 188, 111);
    box-shadow: none;
}

#tour {
    width: 20px;
    height: 20px;
    background-color: rgb(255, 255, 255);
    margin: 6px;
    /*border: 1px solid rgb(0, 0, 0);*/
    display: flex;
    border-radius: 3px;
}

#info {
    margin: 5px;
    position: absolute;
    font-size: 13px;
    transform: translate(0px, -25px);
}

#control-panel2 {
    margin-left: 20px;
    margin-right: 20px;
}

#openModal {
    /*font-size: 16px;*/
    background-color: rgb(69, 123, 157);
    padding: 6px;
    border: none;
    width: 75px;
    height: 50px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 7px;
    color: white;
    box-shadow: 0px 3px 4px rgba(0,0,0,0.4);
}

#openModal:active {
    background-color: rgb(87, 156, 198);
    box-shadow: none;
}

#reset{
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 0px;
}

#res {
    /*font-size: 16px;*/
    /*background-color: rgb(69, 123, 157);*/
    background-color: rgb(214, 40, 40);
    border: none;
    width: 75px;
    height: 50px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 7px;
    color: white;
    box-shadow: 0px 3px 4px rgba(0,0,0,0.4);
}

#res:active {
    /*background-color: rgb(92, 165, 210);*/
    background-color: rgb(215, 110, 110);
    box-shadow: none;
}

#leave {
    /*font-size: 16px;*/
    background-color: rgb(69, 123, 157);
    border: none;
    width: 75px;
    height: 50px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 7px;
    color: white;
    box-shadow: 0px 3px 4px rgba(0,0,0,0.4);
    margin-bottom: 30px;
    margin-top: 20px;
}

#leave:active {
    background-color: rgb(92, 165, 210);
    box-shadow: none;
}

#playing {
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


#bottomblock {
    margin-top: 50px;
    text-align: left;
    display: flex;
    flex-direction: column;
    font-size: 15px;
    align-items: center;
}

#rightblock {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    align-items: center;
}

#image {
    text-align: center;
    width: 100%;
}

#photo {
    width: 60%;
}

#imgdisc {
    width: 22px;
    transform: translateY(8px);
}

#disc {
    margin-top: 10px;
    margin-bottom: 5px;
}

@media (orientation: portrait) {
    #game-container {
        flex-direction: column; /* Disposition en colonne : damier au-dessus, bouton en dessous */
        align-items: center;    /* Centrer les éléments horizontalement */
        margin-left: 0px;
    }

    #panels {
        display: flex;
        flex-direction: row;
        justify-items: space-between;
        margin-top: 40px;
        width: 100%;
    }

    #control-panel {
        /*margin-left: 12%;
        margin-right: 12%;*/
        justify-content: center;
        margin-top: 0px;
        margin-bottom: 0px;
        display: flex;
    }

    #control-panel2 {
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 0px;
    }

    #reset {
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 0px;
    }

    #photo {
        width: 90%;
    }

    #bottomblock {
        margin-top: 20px;
        width: 100%;
    }

    #rightblock {
        margin-top: 20px;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        align-items: center;
        width: 80%;
    }
}


.scene {
    width: var(--cubesize);
    height: var(--cubesize);
    perspective: none;
    position: absolute;
    margin: 0/*auto 40px*/;
    transform-style: preserve-3d;
    transition: transform 0.35s ease-out;
    z-index: 1;
}

#scene-1{
    transform: translate(var(--movx1), var(--movy1)) rotateY(18deg) rotateX(18deg) rotateZ(0deg);
}

#scene-2{
    transform: translate(var(--movx2), var(--movy2)) rotateY(18deg) rotateX(18deg) rotateZ(0deg);
}

#scene-3{
    transform: translate(var(--movx3), var(--movy3)) rotateY(18deg) rotateX(18deg) rotateZ(0deg);
}

#scene-4{
    transform: translate(var(--movx4), var(--movy4)) rotateY(18deg) rotateX(18deg) rotateZ(0deg);
}

#scene-5{
    transform: translate(var(--movx5), var(--movy5)) rotateY(18deg) rotateX(18deg) rotateZ(0deg);
}

#scene-6{
    transform: translate(var(--movx6), var(--movy6)) rotateY(18deg) rotateX(18deg) rotateZ(0deg);
}

#scene-7{
    transform:  translate(var(--movx7), var(--movy7)) rotateY(18deg) rotateX(18deg) rotateZ(0deg);
}

#scene-8{
    transform: translate(var(--movx8), var(--movy8)) rotateY(18deg) rotateX(18deg) rotateZ(0deg);
}

#scene-9{
    transform: translate(var(--movx9), var(--movy9)) rotateY(18deg) rotateX(18deg) rotateZ(0deg);
}

#scene-10{
    transform: translate(var(--movx10), var(--movy10)) rotateY(18deg) rotateX(18deg) rotateZ(0deg);
}

#scene-11{
    transform: translate(var(--movx11), var(--movy11)) rotateY(18deg) rotateX(18deg) rotateZ(0deg);
}

#scene-12{
    transform: translate(var(--movx12), var(--movy12)) rotateY(18deg) rotateX(18deg) rotateZ(0deg);
}

.cube {
    width: 100%;
    height: 100%;
    position: absolute;
    transform-style: preserve-3d;
    transform:  rotateY(0deg) rotateX(0deg) rotateZ(0deg);
    transition: transform 0.35s ease-out;
}


.face {
    position: absolute;
    width: var(--cubesize);
    height: var(--cubesize);
    background-color: rgb(50, 50, 50);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
}

.transparent {
    background-color: rgba(50, 50, 50, 0.6); /* Semi-transparent */
}

.front  { transform: translateZ(var(--translate)); }
.back   { transform: rotateY(180deg) translateZ(var(--translate)); }
.right  { transform: rotateY(90deg) translateZ(var(--translate));  }
.left   { transform: rotateY(-90deg) translateZ(var(--translate)); }
.top    { transform: rotateX(90deg) translateZ(var(--translate)); }
.bottom { transform: rotateX(-90deg) translateZ(var(--translate)); }

.facew {
    position: absolute;
    width: var(--cubesize);
    height: var(--cubesize);
    /*background-color: rgb(243, 227, 193);*/
    /*background-color: rgb(235, 218, 183);*/
    /*background-color: rgb(240, 222, 185);*/
    /*background-color: rgb(238, 223, 200);*/
    background-color: rgb(238, 223, 195);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
}

.wtransparent {
    background-color: rgba(238, 223, 195, 0.7); /* Semi-transparent */
}

.shape1 {
    width : var(--shapesize);
    height : var(--shapesize);
    /*background-color: rgb(230, 36, 36);*/
    background-color: rgb(214, 40, 40);
    border-radius: 2px;
}

.shape2 {
    width : var(--shapesize);
    height : var(--shapesize);
    background-color: rgb(214, 40, 40);
    border-radius:50%;
}

.shape3 {
    width : var(--shapesize);
    height : var(--shapesize);
    background-color: white;
    border-radius:50%;
}

.shape4 {
    width : var(--shapesize);
    height : var(--shapesize);
    background-color: white;
    border-radius: 2px;
}

.shape5 {
    width : var(--bor);
    height : var(--bor);
    background-color: rgb(50, 50, 50);
    border: var(--brd) solid white;
    border-radius: 2px;
}

.shape6 {
    width : var(--bor);
    height : var(--bor);
    background-color: rgb(50, 50, 50);
    border-radius:50%;
    border: var(--brd) solid white;
}

/* Style pour masquer la modale par défaut */
.modal {
    display: none;               /* Masquée par défaut */
    position: absolute;             /* Fixée par rapport à la fenêtre */
    z-index: 1000;               /* Au-dessus du contenu principal */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
   /* background-color: rgba(0, 0, 0, 0.3); /* Fond semi-transparent */
    -webkit-transform: translate3d(0, 0, 200px);
    transform: translate3d(0, 0, 200px);
    justify-items: center;

}

/* Contenu de la modale */
.modal-content {
    background-color: white;
    margin: 5% auto;
    padding: 20px;
    border-radius: 8px;
    width: 80%;
    max-width: 500px;
    text-align: justify;
    font-size: 14px;
    overflow-y: auto;
    box-shadow: 4px 4px 20px rgba(0,0,0,0.7);
}

.modal-contentvic {
    background-color: white;
    margin: 10% auto;
    margin-top:200px;
    padding: 20px;
    border-radius: 8px;
    width: 80%;
    height:fit-content;
    max-width: 500px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 4px 4px 20px rgba(0,0,0,0.7);
}

.modal-contentreal {
    background-color: white;
    margin: 10% auto;
    margin-top:200px;
    padding: 20px;
    border-radius: 8px;
    width: 80%;
    height:200px;
    max-width: 500px;
    font-size: 16px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    box-shadow: 4px 4px 20px rgba(0,0,0,0.7);
}

.modal-contentdiff {
    background-color: white;
    margin: 10% auto;
    margin-top:200px;
    padding: 20px;
    border-radius: 8px;
    width: 80%;
    height:200px;
    max-width: 500px;
    font-size: 16px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    box-shadow: 4px 4px 20px rgba(0,0,0,0.7);
}

.modal-contentbot {
    background-color: white;
    margin: 10% auto;
    margin-top:200px;
    padding: 20px;
    border-radius: 8px;
    width: 80%;
    height:100px;
    max-width: 500px;
    font-size: 16px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    box-shadow: 4px 4px 20px rgba(0,0,0,0.7);
}


/* Bouton de fermeture */
.close {
    float: right;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    transform: translateY(-10px);
}

#confirm-yes {
    /*font-size: 16px;*/
    background-color: rgb(69, 123, 157);
    border: none;
    width: 50px;
    height: 40px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 7px;
    color: white;
    box-shadow: 0px 3px 4px rgba(0,0,0,0.4);
}

#confirm-no {
    /*font-size: 16px;*/
    background-color: rgb(69, 123, 157);
    border: none;
    width: 50px;
    height: 40px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 7px;
    color: white;
    box-shadow: 0px 3px 4px rgba(0,0,0,0.4);
}

#confirm-no:active {
    background-color: rgb(92, 165, 210);
    box-shadow: none;
}

#confirm-yes:active {
    background-color: rgb(92, 165, 210);
    box-shadow: none;
}

  
  /* Style général des lettres */
  #rolling-title span {
    display: inline-block;
    transform-origin: center;
    animation: roll 1s ease forwards;
  }
  
  /* Animation de rotation (roulement) */
  @keyframes roll {
    0% {
      transform: rotateZ(0deg);
    }
    100% {
      transform: rotateZ(360deg);
    }
  }
  
  /* Décalage pour chaque lettre */
  #rolling-title span:nth-child(1) {
    animation-delay: 0.5s;
  }
  #rolling-title span:nth-child(2) {
    animation-delay: 0.6s;
  }
  #rolling-title span:nth-child(3) {
    animation-delay: 0.7s;
  }
  #rolling-title span:nth-child(4) {
    animation-delay: 0.8s;
  }
  #rolling-title span:nth-child(5) {
    animation-delay: 0.9s;
  }
  
